body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  list-style: none;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px;
  margin: 20px auto;
}

.about-text {
  background-color: green;
  color: yellow;
  font-size: medium;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(8, 7, 7);
  color: white;
  text-align: center;
}
